body {
margin-top: -20px;

}

h1, h3 {
font-family: 'Merriweather', serif;
}

tr, th, td, tbody{


}




.mont  {
font-family: 'Montserrat', sans-serif;
font-weight: bold;
}

.store {
margin-top: 60px
}

.x1 {
padding-top: 20px;
height: 210px;
position: fixed;
background-color: white;
z-index: 1;
width: 100vw;

}

.x2 {
border-top: 1px solid dark;
margin-top: 80px
}

td, tr, th {
font-family: 'Montserrat', sans-serif;
font-weight: 600;
}

.vkladka {

width: 343px;
display: inline-block;
text-align: right;
position: absolute;
top: 142px;
text-align: center;
}

.content {
position: relative;
top: 190px

}

.cont1 {

padding: 0
}

.items {
  padding-bottom: 15px

}

.itmbtns {
margin-top: 20px;
margin-left: 30px;
width: 110px;
position: fixed;
left: 10px

}

.addbtns {
margin-top: 20px;
margin-left: 10px;
position: fixed;
left: 150px;

}


.gr-butt {
top: 270px
}

.pr-butt {
top: 320px

}

.rl-butt {
top: 370px
}

.st-butt {
top: 420px;
}


.grain {
top: 270px;
}

.prod {
top: 320px
}

.real {
top: 370px
}

.ynbtns {

width: 100px;
margin: 20px

}


.rghtalgn {
    text-align: right;
}

/* Вот отсюда и до следующего длинного комментария это нумератор строк в динамической таблице, жесть!!! */


.counter {
counter-reset: schet;
}

.counter tbody tr {
counter-increment: schet;

}

.counter td,
.counter tr:before {
  padding: .1em .5em;
  border-bottom: 1px solid DimGray;
}
.counter tbody tr:before {
  content: counter(schet);
  display: table-cell;
  vertical-align: middle;

}


/* следующий длинный комментарий, получился недостаточно длинным, а вот теперь - другое дело =) */





.btn-back {
background-color: snow;
border-radius: 20px;
height: 300px;
width: 200px;
margin-top: 40px;
margin-left: 20px;
position: fixed;



}

@media screen and (max-width: 1000px) {


.btn-container, h1 {
text-align: center;

}


.plus {

margin-right: 20px

}

.logo {
margin-top: 7px

}



}

@media screen and (max-width: 800px) {

.logo {

display: none

}


.store {

margin-top: 30px;
padding-left: 20px;


}

.plus {

margin-right: 5px

}



}